/* ToggleMode.module.css */

/* Style for the toggle mode button */
.toggleModeBtn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
}

/* Dark mode styles */
.darkMode {
    background-color: #222;
    color: white;
}

/* Light mode styles */
.lightMode {
    background-color: white;
    color: black;
}
