/* --------------------------------- */
/* Top Bar Styling (Common in all pages) */
/* --------------------------------- */

.topBar {
  width: 100%; /* Full width */
  position: absolute; /* Fixed position at the top */
  top: 0;
  left: 0;
  color: var(--text-color); /* Text color from CSS variables */
  font-size: 0.9rem; /* Slightly smaller font size */
  text-align: center; /* Center align text */
  z-index: 200; /* Ensures it stays above other elements */
}

.infoItem {
  margin: 5px 15px; /* Adds spacing around each info item */
}

.infoItem ion-icon {
  color: var(--primary-color); /* Icon color */
  margin-right: 8px; /* Space between icon and text */
  font-size: 1.2rem; /* Slightly larger icon size */
}

.separator {
  margin-top: 10px; /* Space between content and separator */
  width: 100%; /* Full width separator */
  height: 1px; /* Thin line */
  background-color: var(--primary-color); /* Line color */
}