.footer {
    background-color: #181818;
    padding: 20px 0;
    text-align: center;
    color: #fff;
  }
  
  .footer p {
    margin: 5px 0;
    color: #fff;
  }
  
  .footer a {
    color: #ffc107; /* Bootstrap warning color */
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
